@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body{
    font-family: 'Inter Regular',sans-serif;
    font-size: 15px;
    height: 100%;
    horiz-align: center;
}
.form{
    border-radius: 35px;
    width: 100%;
    margin: 0 auto;
}
.full-content{
    horiz-align: center;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
}
input, textarea{
    font-family: 'Inter Regular',sans-serif;
}
#about-you{
    font-size: 15px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 50px;
    max-height: 775px;
    margin: 0;
    padding: 2px;
    border: 2px black solid;
}
h1{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
fieldset{
    border: none;
}
legend{
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 22px;
    padding: 40px 0 0;
    font-weight: 500;
}
legend span{
    color: red;
}
ul{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}
.flaticon-check{
    border: 1px solid #e5e5e5;
    /*padding: 10px 36px 10px 14px;*/
    border-radius: 4px;
    margin: 7px 0 0;
    min-height: 43px;
    background: #fff;
    transition: border-color .5s,background .5s;
    position: relative;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    list-style-type: none;
}
li:hover{
    background: #eaeaea;
}
.input-name{
    width: 100%;
    height: 100%;
    min-height: 43px;;
    margin: 0;
    padding: 0;
}
.input-text, #site-search{
    height: 100%;
    width: 100%;
    min-height: 43px;
    display: inline-block;
    box-sizing:border-box;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
#site-search{
    border: black 2px solid;
}
.input-text:hover, #site-search:hover{
    background-color: #f5f5f5;
}
.input-text:invalid, .cb:invalid + li{
    border: 2px solid red;
}
.input-text:invalid:hover{
    background-color: #f5f5f5;
}
.input-text:valid{
    background: #126bf4;
    color: white;
    border: 2px solid black;
}
.input-text:valid:hover{
    background: #4083ea;
    color: white;
}
.input-text:valid::placeholder{
    color: white;
}
.input-text:out-of-range{
    background-color: white;
    color: black;
}
.input-text:out-of-range:hover{
    background: #eaeaea;
}
#fav-color{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 0;
    margin: 0;
}
#fav-color::-webkit-color-swatch{
    border-radius: 4px;
    border: black 2px solid;
}
#fav-color::-moz-color-swatch{
    border-radius: 4px;
    border: black 2px solid
}
meter, progress {
    display: block;
    width: 100%;
    height: 50px;
}
progress::-webkit-progress-bar {
    background-color: beige;
    border-radius: 6px;
}
progress::-webkit-progress-value {
    background-color: green;
    border-radius: 16px;
}
progress::-moz-progress-bar {
    background-color: green;
    border-radius: 16px;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: #126bf4;
    border-radius: 4px;
    border: black 2px solid;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 1px #000000, 0 0 1px #0d0d0d;
    border: 2px solid #000000;
    height: 38px;
    width: 26px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #126bf4;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #126bf4;
}
.cb{
    left: auto;
    display: none;
}
label{
    display: inline-block;
    height: 100%;
    width: 98%;
    min-height: 33px;
    padding-left: 10px;
    padding-top: 13px;
}
input:checked + li{
    background-color: #126bf4;
    border-color: #0a5ddd;
    color: white;
    animation: selected .3s linear;
}

/*
p{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
*/
.form{
    width: 750px;
    background-color: #f2f2f2;
}
.content{
    padding: 55px 0 0;
}
.real-form{
    padding: 20px 0 0;
}
.content, .real-form{
    margin: 0 auto;
    width: 600px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 27px;
    font-weight: 600;
}
.low-info{
    padding-top: 15px;
}
.answers{
    padding-top: 16px;
}
.submit-button{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 55px;
}
#submit{
    border-radius: 12px;
    border: rgba(0,0,0,0) 2px solid;
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    horiz-align: center;
    display: inline-block;
}
#submit:focus, #reset{
    background-color: #bce073;
}
#submit:hover{
    background-color: #298ece;
}
#submit:active{
    background-color: #43b8dc;
}
a{
  color: #8a2424;
    text-decoration: none;
}
a:hover{
    color: #4b0a0a;
}
a:active{
    color: #985e3e;
}
a:visited{
    color: #2e8a24;
    text-decoration: none;
}
a:visited:hover{
    color: #0e4b0a;
}
a:visited:active{
    color: #5db795;
}
a span{
    font-size: 17px;
}
.bottom-content{
    width: 600px;
    padding: 16px 0 50px;
    margin: 0 auto;
}
#languages{
    color: white;
}
.hidden-label{
    padding: 2px 5px 0;
    margin: 0;
    color: #988686;
}
#reset{
    margin: 0 0 0 5px;
    padding: 10px;
    border-radius: 12px;
    border: rgba(0,0,0,0) 2px solid;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    horiz-align: center;
    background-color: #c5c5c5;
    height: 100%;
}
#reset:hover{
    background-color: #efa2a2;
}
#reset:active{
    background-color: #c44c4c;
}
#reset:focus{
    background-color: #e08773;
    color: #ffffff;
}


body { background-color: #eee; }

.footer-social-links{
    font-size: 14px;
    text-align: center;
    width: 65%;
    display: inline-block;
    horiz-align: right;
    text-align: right;
    margin: 0 auto;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px;
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}
.footer-social-links a:hover{
    color: #fff;
}
.footer-social-links a:active{
    color: #fff;
}
.footer-social-links a:hover:before{
    background: #494949;
    border-color: #494949;
}
#facebook:active:before{
    background-color: #3b5998;
    border-color: #3b5998;
}
#github:active:before{
    background-color: #171515;
    border-color: #171515;
}
#steam:active:before{
    background:linear-gradient(120deg, #00adee, #000000);
    border-color: #074259;
}